@page "/Category/Create"
@inject HttpClient http
@inject NavigationManager navigation

<h3>Create Category</h3>

<CategoryForm Category="@category" ButtonTextSubmit="Create" ButtonTextCancel="Cancel" SubmitOk="CreateCategory"/>

@code {
    Category category = new Category();

    async Task CreateCategory()
    {
        await http.PostAsJsonAsync("api/Category", category);
        navigation.NavigateTo("Category");
    }
}
