@page "/category"
@inject HttpClient http

<h3>Category</h3>


@if (categories is null)
{
        <p><em>Loading...</em></p>
}
else if (categories.Length == 0)
{
        <p><em>Please, create one category...</em></p>
}
else
{
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var cat in categories)
            {
                <tr>
                    <td>@cat.CategoryId</td>
                    <td>@cat.CategoryName</td>
                    <td>@cat.CategoryDescription</td>
                    <td>@cat.CategoryCreatedAt</td>
                    <td>
                        <a class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
            <div>
                <a class="btn btn-success" href="Category/Create">Add</a>
            </div>
        </table>
    }

@code {
    Category[] categories { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
    }

    async Task LoadCategories()
    {
        categories = await http.GetFromJsonAsync<Category[]>("api/Category");
    }
}
